### Gradle ###
.gradle/
build/
out/
classes/

### Eclipse ###
*.launch

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.settings/
.vscode/
bin/
.classpath
.project

### macOS ###
*.DS_Store

### Fleet ###
.fleet/

### Other ###
.kotlin/
*.log
.env
config.json
*.db
templates/
derpibooru_tags.txt
